*.root
*.so
*.d
*.pcm
*.tgz
*.tar.gz
*.log
*.out
*.err
tmp/
tmp_*/
lib/
biglib/
bin/
cfipython/
objs/

condor/.generated/
condor/.logs/
condor/.outputs/
condor/.returned/
condor/generated/
condor/logs/
condor/outputs/
condor/test_outputs/
condor/package.tgz
job_report_*.txt
root_outputs_*.tgz

__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*~
